services:
  traefik:
    platform: linux/arm64/v8
    command:
      - --certificatesresolvers.myresolver.acme.email=your-email@example.com
    labels:
      - traefik.http.routers.nextcloud.rule=Host(`traefik.localhost`)

  whoami:
    platform: linux/arm64/v8
    labels:
      - traefik.http.routers.mywhoami.rule=Host(`whoami.localhost`)
